<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <h1 style="text-align: center;
                margin-bottom: 20px;
                margin-top: 20px;">Mantenimiento de cliente</h1>
            </div>

        </div>
        <div class="row justify-content-right">
            <div class="col-lg-12 text-right">
            </div>


        </div>
    </div>
    <!-- /.container-fluid -->
</section>


<section class="content  ">
    <div class="container-fluid mb-5 pb-5  ">

        <div class="row justify-content-center  ">
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-5">
                        <label for="">Nombre</label>
                        <input type="text" class="form-control" [(ngModel)]="nombre" name="nombre">
                    </div>
                    <div class="col-lg-5">
                        <label for="">Fecha nacimiento</label>
                        <input type="date" class="form-control">
                    </div>
                    <div class="col-lg-2">
                        <button class="btn btn-success " style="margin-top: 33px">Registrar</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-5">
                        <label for="">Apellido paterno</label>
                        <input type="text" class="form-control" [(ngModel)]="apellido_paterno" name="apellido_paterno">
                    </div>
                    <div class="col-lg-5">
                        <label for="">Dirección</label>
                        <input type="text" class="form-control" [(ngModel)]="direccion" name="direccion">
                    </div>
                    <div class="col-lg-2">
                        <button class="btn btn-info " style="margin-top: 33px">Actualizar</button>
                    </div>
                </div>
                <div class="row">

                    <div class="col-lg-5">
                        <label for="">Apellido materno</label>
                        <input type="text" class="form-control" [(ngModel)]="apellido_materno" name="apellido_materno">
                    </div>
                    <div class="col-lg-5">
                        <label for="">Correo</label>
                        <input type="text" class="form-control" [(ngModel)]="correo" name="correo">
                    </div>
                    <div class="col-lg-2">
                        <button class="btn btn-danger " style="margin-top: 33px">Eliminar</button>
                    </div>
                </div>

            </div>

            <div class="col-lg-12 ">

                <mat-form-field style="width: 100%;">
                    <mat-label>Filtrar</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Bscador de cliente" #input>
                </mat-form-field>

                <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSource" matSort style="width: 100%;">



                        <!-- Progress Column -->
                        <ng-container matColumnDef="nombre">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                            <td mat-cell *matCellDef="let row"> {{row.nombre | uppercase}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="apellido_paterno">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido paterno </th>
                            <td mat-cell *matCellDef="let row"> {{row.apellido_paterno}} </td>
                        </ng-container>

                        <!-- Fruit Column -->
                        <ng-container matColumnDef="apellido_materno">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Apellido materno </th>
                            <td mat-cell *matCellDef="let row"> {{row.apellido_materno}}</td>
                        </ng-container>

                        <!-- Fruit Column -->
                        <ng-container matColumnDef="fecha_nacimiento">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha nacimiento </th>
                            <td mat-cell *matCellDef="let row"> {{row.fecha_nacimiento}}</td>
                        </ng-container>

                        <!-- Fruit Column -->
                        <ng-container matColumnDef="direccion">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Dirección</th>
                            <td mat-cell *matCellDef="let row"> {{row.direccion}}</td>
                        </ng-container>

                        <!-- Fruit Column -->
                        <ng-container matColumnDef="correo">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>correo</th>
                            <td mat-cell *matCellDef="let row"> {{row.correo}}</td>
                        </ng-container>
                        <!-- ID Column -->


                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr class="row-user" style="cursor: pointer;" mat-row *matRowDef="let row; columns: displayedColumns;" (click)="getUseriD(row.id)"></tr>

                        <!-- Row shown when there is no matching data. -->
                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                        </tr>
                    </table>

                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
                </div>


            </div>
        </div>
    </div>
</section>